<div class="" style="text-align: center; margin-top: 10px; font-size: 25px;">

	<p >Range selection</p>
</div>

<div class="datePiker ">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
        </ngb-datepicker>
    </div>
</div>

<ng-template #t let-date let-focused="focused">
	<span
		class="custom-day"
		[class.focused]="focused"
		[class.range]="isRange(date)"
		[class.faded]="isHovered(date) || isInside(date)"
		(mouseenter)="hoveredDate = date"
		(mouseleave)="hoveredDate = null"
	>
		{{ date.day }}
	</span>
</ng-template>

<hr />

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>